
	<head>
		<title>Home</title>
		<div class = "center jumbotron">
			<h1 id = "heading">Welcome to Alpha Blog</h1>
			<%= link_to "Sign up now", "#", class: "btn btn-primary btn-lg", id: "signup"%>
		</div>
		
	</head>
	
