<!DOCTYPE html>
<html>
	<head>
		<title>Home</title>
		<h1>Welcome to Alpha Blog</h1>
	</head>
	
	<body>
		<p>
			<%= link_to "Articles", articles_path %> || <%= link_to "About", about_path %>
		</p>
	</body>
</html>