<!DOCTYPE html>
<html>
	<head>
		<title>Home</title>
		<h1 id = "heading">Welcome to Alpha Blog</h1>
	</head>
	
	<body>
		<p id = "para">
			This is a paragraph
		</p>
		
		<p>
			This is some more text that is not in para	
		</p>
		
		<p>
			<ul id = "bottom">
				<li><%= link_to "Articles", articles_path %></li>
				<li><%= link_to "About", about_path %></li>
			</ul>
		</p>
	</body>
</html>