<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
</head>
<body>
	<h1 align = "center" align = "top">Home</h1>
	<p style = "width: 50%; float:left">
		This is the first paragraph
		<%= link_to 'About', about_path %>
	</p>
	
	<p style = "width 50%; float:right" >
		This is the second paragraph with some more text
	</p>

</body>


</html>